.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
}

.avatar {
  width: 80px;
  margin-bottom: 10px;
}

.name {
  font-size: 26px;
  font-weight: 500;
  color: black;
}

.status {
  font-size: 20px;
  font-weight: 500;
}

.online {
  color: green;
}

.offline {
  color: orangered;
}
